  <head>
    <style type="text/css">
   TABLE {
    width: 1000px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
 </head>
 <body>
<h1>Сводная по статьям</h1>
 <%= link_to 'Новая статья', new_post_path %>
<table>
   <tr>
    <th>Date</th>
    <th>Statya</th>
	<th>Summa</th>
	<th>comment</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.date %></td>
      <td><%= post.statya %></td>
	  <td><%= post.summa %></td>
	  <td><%= post.comment %></td>
	  <td><%= link_to 'Show', post %></td>
	  <td><%= link_to 'Edit', edit_post_path(post) %></td>
	  <td><%= link_to 'Delete', { :action => :destroy, :id => post.id }, :method => :delete, :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
</table>
</body>