<p>
  <strong>Дата:</strong>
  <%= @post.date %>
</p>
 
<p>
  <strong>Статья:</strong>
  <%= @post.statya %>
</p>

<p>
  <strong>Сумма:</strong>
  <%= @post.summa %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @post.comment %>
</p>
<%= link_to 'Назад', posts_path %>
  <%= link_to 'Редактировать', edit_post_path(@post) %>